.main{
  background-color: rgb(14, 12, 12);
}

.main1 {
  background: url(img/mainphone.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    color: white;
    display: block;
  }
  p {
    align-self: flex-start;
  }
}

.join {
  background: #ff6a00;
  text-align: center;
  padding: 60px 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
display: block;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.76);


}

.join11{
background: rgba(0, 0, 0, 0.81);
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
align-items: center;
text-align: center;
color: #FFFFFF;
margin:0 auto;
padding: 10px 100px;

}

.Contacts {
  background: url(img/Contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.posts {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  padding: 133px;
}
