.main1 {
  background: url(img/mainphone.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    color: white;
    display: block;
  }
  p {
    align-self: flex-start;
  }
}

.join {
  background: #ff6a00;
  text-align: center;
  padding: 60px 20px;
}

.Contacts {
  background: url(img/Contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.posts {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  padding: 133px;
}
