.main {
  background-color: rgb(14, 12, 12);
}

.main1 {
  background: url(img/mainphone.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    color: rgb(255, 255, 255);
    display: block;
  }
  p {
    align-self: flex-start;
  }
}

.join {
  background: #ff6a00;
  text-align: center;
  padding: 60px 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: block;
  align-items: center;
  text-align: center;

  color: rgba(0, 0, 0, 0.76);
}

.join11 {
  background: rgba(0, 0, 0, 0.81);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 10px 100px;
}

.Contacts {
  background: url(img/Contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.posts {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  padding: 133px;
}

.posts .card {
  max-width: 32%;
  img {
    max-width: 100%;
  }
}

.logo {
  font-family: "Jacques Francois Shadow";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 63px;
  text-align: right;
  text-transform: capitalize;

  color: #ffffff;
}

.text1 {
  font-family: "Afacad";
  font-style: italic;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  

  color: #ffffff;
}

.filter-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;

  button {
    background: #774949;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-family: "Afacad";
    cursor: pointer;
    &.active {
      background: #ff6a00;
    }
  }
}


.filter2{
  text-align: center;
  color: #ffffff;
font-family: "Afacad";
  font-style: italic;
}